<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:include="fragments/header :: head">
</head>
<body>
<br>
<div class="container bg-light">
    <div class="row">
        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384676.svg" width="60px" height="60"
             alt="pizza icon">
        <h5>Pizza App</h5>
        <li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-outline-success"
                       value="ausloggen">
            </form>
        </li>
    </div>
</div>
<br>
<section class="container">


    <table class="table table-hover table-bordered" th:if="listAllPizzas!=null">
        <thead class="bg-secondary">
        <tr>
            <th scope="col">Menge</th>
            <th scope="col">Pizza</th>
            <th scope="col">Preis+Größe</th>
            <th scope="col">in den Warenkorb</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza: ${listAllPizzas}">
            <form th:action="@{/(pizzaId=${pizza.getId()})}" method="post" class="form-row">
                <!--                    Menge-->
                <td>
                    <input type="number" min="0" class="form-control" value="0" th:name="quantity">
                </td>
                <!--                    Pizza-->
                <td>
                    <span type="text" th:text="${pizza.getName()}"></span>
                </td>
                <!--                    Preis + Groesse-->
                <td>
                    <select class="custom-select" th:name="pizzaSizeCost" >
                        <option><span  th:text="|${medium} / ${pizza.getPriceMedium()}|"></span></option>
                        <option><span  th:text="|${small} / ${pizza.getPriceSmall()}|">  </span></option>
                        <option><span  th:text="|${large} / ${pizza.getPriceLarge()}|">  </span></option>
                    </select>
                </td>
                <!--                    in den Warenkorb-->
                <td>
                    <button type="submit" class="btn btn-outline-primary">in dem Warenkorb</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
    <p>Im Warenkorb::: Anzahl der bestellten Pizzas: <span th:text="${amountPizzas}"/> mit Gesamtbetrag: <span th:text="${totalPrice}"/></p>
    <br>
    <br>
    <a th:href="@{/cart}" role="button" class="btn btn-outline-primary btn-block">zum Warenkorb</a>
</section>

<br>
<div th:include="fragments/footer::footer"></div>
</body>
</html>